<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<context:component-scan base-package="controller,controllerExceptions"></context:component-scan>

	<!-- 采用注解的默认配置 -->
	<!-- <mvc:annotation-driven> <mvc:message-converters> <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"> 
		<property name="objectMapper" ref="customObjectMapper"></property> </bean> 
		</mvc:message-converters> </mvc:annotation-driven> <bean id="customObjectMapper" 
		class="messageConvert.CustomJsonDateConverter"></bean> -->

	<bean id="myObjectMapper" class="json.MyObjectMapper" />
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper">
					<ref bean="myObjectMapper" />
				</property>
				<!-- <property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property> -->
		<property name="supportedMediaTypes">
		<list>
        <!-- 这里顺序不能反，一定先写text/html,不然ie下出现下载提示 -->
	<value>text/html;charset=UTF-8</value>
	<value>text/json;charset=UTF-8</value>
	<value>application/json;charset=UTF-8</value>
		</list>
	</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>





	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/Jsps/" />
		<property name="suffix" value=".jsp?target=0" />
	</bean>

	<mvc:default-servlet-handler />


	<!-- 多部分文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="104857600" />
		<property name="maxInMemorySize" value="4096" />
		<property name="defaultEncoding" value="UTF-8"></property>
	</bean>

</beans>